* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bar-topo {
  background-color: #e0999e;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #fff;
}

.bar-user-container {
  background-color: #fdfdc8;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-user {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  color: #c4e1de;
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
}

.shop {
  color: #c4e1de;
  font-size: 25px;
  cursor: pointer;
}

p {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 100;
  color: #fff;
  letter-spacing: 3px;
}

.menu {
  background-color: #c4e1de;
  max-width: 100%;
  height: 250px;
  margin: auto;
  border-top: 3px solid #fff;
}

.menu-content {
  width: 90%;
  height: 250px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

li a {
  font-family: sans-serif;
  font-size: 22px;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.products-best-seller-title p {
  color: #e0999e;
  font-size: 20px;
  text-align: center;
  margin: 50px 0px;
}

.products-best-seller {
  max-width: 1500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 100%;
  margin: auto;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.container-best-seller {
  max-width: 350px;
  width: 100%;
  border-radius: 15px;
  border: dashed 2px #e0999e;
  cursor: pointer;
}

.container-best-seller:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.photo-1 {
  background-image: url(Imagens/kit-abacate.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-2 {
  background-image: url(Imagens/kit-milk.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-3 {
  background-image: url(Imagens/kit-abacate-rosa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-4 {
  background-image: url(Imagens/sapatinho-abacate.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-5 {
  background-image: url(Imagens/sapatinho-milk.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-6 {
  background-image: url(Imagens/sapatinho-abacate-rosa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.copyright {
  width: 100%;
  background-color: #c4e1de;
  max-width: 100%;
  height: 250px;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.copyright p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  color: #fff;
  letter-spacing: 3px;
}

@media (max-width: 1310px) {
  .container-best-seller {
    max-width: 280px;
    height: 280px;
  }
  .container {
    width: 100%;
    height: 200px;
    margin-bottom: 200px;
  }
}

@media (max-width: 1040px) {
  .container-best-seller {
    max-width: 210px;
    height: 210px;
  }
  li a {
    font-size: 16px;
  }

  .container {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .menu-content {
    flex-direction: column;
  }

  ul {
    gap: 10px;
  }

  li {
    font-size: 12px;
  }

  p {
    text-align: center;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .container-best-seller {
    max-width: 400px;
    height: 400px;
    margin-bottom: 180px;
  }
}
